{% load static %}
<nav class="col-md-2 d-none  d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>ressources humaines</span>
      <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="#">
          Utilisateurs
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Employés
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Demandes de congés
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Absences
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Évaluations
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Général</span>
      <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          Résumé des dépenses
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Résumé des revenus
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Paramètres</span>
      <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Compte
        </a>
      </li>
      
    </ul>
